<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
    </configSections>
    <indexusNetSharedCache configSource="indexusNetSharedCache.config"/>

    <nlog autoReload="true" throwExceptions="true">
        <targets async="true">
            <target name="shared_cache_general" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\client\${date:format=yyyy-MM-dd}_shared_cache_general_log.txt"/>
            <target name="shared_cache_traffic" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\client\${date:format=yyyy-MM-dd}_shared_cache_traffic_log.txt"/>
            <target name="shared_cache_tracking" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\client\${date:format=yyyy-MM-dd}_shared_cache_tracking_log.txt"/>
            <target name="shared_cache_sync" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\client\${date:format=yyyy-MM-dd}_shared_cache_sync_log.txt"/>
        </targets>
        <rules>
            <logger name="General" minlevel="Debug" writeTo="shared_cache_general" final="true"/>
            <logger name="Traffic" minlevel="Debug" writeTo="shared_cache_traffic" final="true"/>
            <logger name="Tracking" minlevel="Debug" writeTo="shared_cache_tracking" final="true"/>
            <logger name="Sync" minlevel="Debug" writeTo="shared_cache_sync" final="true"/>
            <logger name="*" minlevel="Debug" writeTo="shared_cache_general"/>
            <logger name="*" minlevel="Info" writeTo="shared_cache_general"/>
        </rules>
    </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
<!--Version Number, same like in assemblies-->
<!--Should information be logged-->
<!--Location of Cache Service-->
<!--Location of Cache Service, the port number-->
<!--
			Enable or disable compression upon client before transfer starts to server.
				Enable: 1
				Disable: 0			
		-->
<!--
			The user is able to set a min. size of its objects if the compression takes action or not.
			Size is defined in byte amount:
			  1kb = 1024
			 10kb = 10240
			150kb = 153600
			hint 1: upon 0, every single payload will be compressed
			hint 2: upon negative numbers the compression will not work.
		-->
<!-- 
	Configure hash algorithm, possible configurations
		 Hashing - simple hashing (Math.Abs((key.GetHashCode() % serverAmount))) - this is the default value
		 Ketama - consistant hashing which is based on MD5 - is not implemented yet
-->
