<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
    <clientSetting
            SharedCacheVersionNumber="3.0.5.0"
            LoggingEnable="1"
            CompressionEnabled="0"
            CompressionMinSize="1024000"
            SocketPoolMinAvailableSize="5"
            HashingAlgorithm="Hashing" />
    <!-- 
			Hashing (default - is useless if your envrionment is using different versions of CLR's)
			Ketama
			FvnHash32
			FvnHash64
			-->
    <servers>
        <add key="localhost"	ipaddress="127.0.0.1" port="48888"/>
    </servers>
    <replicatedServers>
        <!-- only use this node in case you are using replication mode on server -->
        <!--<add key="SrvZh04"		ipaddress="192.168.212.11" port="48888" />-->
        <!--<add key="SrvZh02"		ipaddress="192.168.212.37" port="48888" />-->
    </replicatedServers>
    <providers>
        <add
            name="IndexusSharedCacheProvider"
            type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"
           >
        </add>
    </providers>
</indexusNetSharedCache>